@import "vars";

.tray {
  .icons {
    /* padding: 6px 6px 6px 8px; */
    /* background: rgba($alt, 1); */
    border-radius: 5px;
    color: rgba($text, .7);
    transition: $tr;

    margin: 0px 5px;
  }

  &:hover {
    .icons {
      /* background: shade($alt, 1.3); */
      color: rgba($text, .8);
    }
  }
}
